ADF_publish/pipeline/adls--split the csv employee file into two female male.json
{
	"name": "adls--split the csv employee file into two female male",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_adls_emplyee",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "male",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().Gender,'male' )",
						"type": "Expression"
					}
				}
			},
			{
				"name": "female",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().Gender,'female' )",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable1-male",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "male",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "mrecords",
					"value": {
						"value": "@activity('male').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable1-female",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "female",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "frecords",
					"value": {
						"value": "@activity('female').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable1-male",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "records",
								"value": {
									"value": "@string(variables('mrecords'))",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "records",
									"type": "String"
								},
								"sink": {
									"type": "String",
									"ordinal": 1
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "ds_adls_ename",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_blob_mrecords",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy data2-FEMALE",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable1-female",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "records",
								"value": {
									"value": "@string(variables('frecords'))",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "records",
									"type": "String"
								},
								"sink": {
									"type": "String",
									"ordinal": 1
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "ds_adls_ename",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_blob_frecords",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"mrecords": {
				"type": "Array"
			},
			"frecords": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-05-20T16:18:07Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}