ADF_publish/pipeline/Checking git_ADLS TO ASQL BY GENDER.json
{
	"name": "ADLS TO ASQL BY GENDER",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_adls_emp",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().Gender,'male' )",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "False-femaletable",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[sp_femaleemployees1]",
											"storedProcedureParameters": {
												"Dno": {
													"value": {
														"value": "@item().Dno",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"Gender": {
													"value": {
														"value": "@item().Gender",
														"type": "Expression"
													},
													"type": "String"
												},
												"Hiredate": {
													"value": {
														"value": "@item().Hiredate",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"ID": {
													"value": {
														"value": "@item().ID",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"Name": {
													"value": {
														"value": "@item().Name",
														"type": "Expression"
													},
													"type": "String"
												},
												"Salary": {
													"value": {
														"value": "@item().Salary",
														"type": "Expression"
													},
													"type": "Int32"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "ls_myazuresql",
											"type": "LinkedServiceReference"
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "true-male",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[sp_maleemployees1]",
											"storedProcedureParameters": {
												"Dno": {
													"value": {
														"value": "@item().Dno",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"Gender": {
													"value": {
														"value": "@item().Gender",
														"type": "Expression"
													},
													"type": "String"
												},
												"Hiredate": {
													"value": {
														"value": "@item().Hiredate",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"ID": {
													"value": {
														"value": "@item().ID",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"Name": {
													"value": {
														"value": "@item().Name",
														"type": "Expression"
													},
													"type": "String"
												},
												"Salary": {
													"value": {
														"value": "@item().Salary",
														"type": "Expression"
													},
													"type": "Int32"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "ls_myazuresql",
											"type": "LinkedServiceReference"
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2022-05-20T17:11:53Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}