ADF_publish/pipeline/Datamigration moving files fron asql to adls.json
{
	"name": "Datamigration moving files fron asql to adls",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from information_schema.tables where table_type='BASE TABLE'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_ASQL_DATAMIGRATION",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_asql_newdatamigration",
									"type": "DatasetReference",
									"parameters": {
										"FileName": {
											"value": "@item().TABLE_NAME",
											"type": "Expression"
										},
										"FileSchema": "@item().TABLE_SCHEMA"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_adls_datamigration",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Stored procedure1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy data1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[SP_DATAMIGRATIONLOG]",
								"storedProcedureParameters": {
									"COPYDURATION": {
										"value": {
											"value": "@activity('Copy data1').output.executionDetails[0].duration",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"COPYENDTIME": {
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										},
										"type": "Datetime"
									},
									"COPYSTARTTIME": {
										"value": {
											"value": "@activity('Copy data1').output.executionDetails[0].start",
											"type": "Expression"
										},
										"type": "Datetime"
									},
									"DATAFACTORYNAME": {
										"value": {
											"value": "@pipeline().DataFactory",
											"type": "Expression"
										},
										"type": "String"
									},
									"PIPELINENAME": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"PIPELINERUNID": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"ROWSCOPIED": {
										"value": {
											"value": "@activity('Copy data1').output.rowsCopied",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"ROWSREAD": {
										"value": {
											"value": "@activity('Copy data1').output.rowsRead",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"TABLE_NAME": {
										"value": {
											"value": "@item().TABLE_NAME",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_asql_storedprocedure",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2022-05-20T04:43:17Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}