ADF_publish/pipeline/WebActivity_single empdata.json
{
	"name": "WebActivity_single empdata",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://dummy.restapiexample.com/api/v1/employee/1",
					"method": "GET"
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "respose",
					"value": {
						"value": "@activity('Web1').output.data",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"respose": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-05-26T17:19:20Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}